apiVersion: serving.knative.dev/v1 
kind: Service 
metadata:
  name: servicepipe
  namespace: pipeline-serverless
spec:
  template:
    spec:
      containers: 
        - image: quay.io/rohanp/private-demo:latest
          ports:
            - containerPort: 8080 
          env: 
            - name: MY_VAR
              value: "12345"
